<!-- Exámen Parcial 2
Crea una aplicación de Angular que permita listar productos obtenidos desde una API y ver una página de detalles generales sobre los productos. La aplicación debe cumplir con los siguientes requisitos:
Realizar una petición HTTP para obtener una lista de productos desde una API.
Crear una página que muestre la lista de productos.
Crear una página que muestre una vista general de los productos.
Definir y utilizar interfaces para tipar los datos de los productos.
Configurar las rutas necesarias en la aplicación.
API para usar:
https://fakestoreapi.com/products
La API devuelve una lista de productos con propiedades como id, title, price, description, category, image.
 
Fecha límite de entrega: Martes 15 de Octubre a las 6:00pm
Aplicaciones Web Escalables Examenes 1.xlsx
Aplicaciones Web Escalables Examenes 1.xlsx
  -->

<h1>Examen parcial 2</h1>
<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
